<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <script type="text/javascript" src="./js/vue.js"></script>
    <style>
    .news {
        background-color: gray;
        border: solid 1px black;
        }
      
      .news img {
        float: left;
        }
      
      .news p {
        float: right;
        }
      
      .content{
        clear:both;
        
        }
    </style>
</head>
<body>
    <div id="app">   
        <button
        v-for="selectedbutton in selectionButtons"
        v-bind:key='selectedbutton'
        v-on:click='selected = selectedbutton'
        >
        {{ selectedbutton }}
        </button>
        <keep-alive>
        <component :is='selectContent' > </component>  
        </keep-alive>
       
          
          <div class="news">
          <img src="#" />
          <p>some text</p>
          <div class="content"></div>
          </div>
          <em>nihao</em>
          <strong>nihao</strong>
          <cite>nihao</cite>
          <samp>nihao</samp>
          <center>nihao</center>
          <dfn>okok</dfn>
          <kbd>keyboard</kbd>
          <tt>
              ok 
              computer 
              code
          </tt>
          <ol>
            <li>第一项</li>
            <li>第二项</li>
            <li>第三项</li>
            <li>第四项</li>
        </ol>
    </div>
    
    
    <script type="text/javascript">
    window.onload = function() {  //  函数1
    var lis = document.getElementsByTagName('li');
    for (var i = 0; i < lis.length; i++) {
        lis[i].onclick = function() {  //  函数2
            alert(i);
        }
    }
}

        Vue.component('tab-posts',{
        data:function(){
            return{
            posts:[
                {id:1,text:'1 content show you'},
                {id:2,text:'2 content show you'},
                {id:3,text:'3 content show you'},
                {id:4,text:'4 content show you'},
            ],
            selectedpost:null
            }
        },
        template:`
            <div>
            <ul>
                <li
                v-for='post in posts'
                :key='post.id'
                v-on:click='selectedpost = post'
                >
                   {{post.id}}
                </li>
            </ul> 
            <div
            v-if='selectedpost'
            >
            <h1>{{selectedpost.id}}</h1>    
            <p>{{selectedpost.text}}</p>   
            </div>
            </div>
        `
        })
        Vue.component('tab-archive',{
        template:`
        <div>
        <p>Archive Content</p>    
        </div>
        `
        
        })
        new Vue({   
            el:'#app',
            data:{
                selected:"Posts",
                selectionButtons:['Posts','Archive']
            },
            computed:{
                selectContent:function(){
                return 'tab-' + this.selected.toLowerCase()
                }
            }
        })
        
        </script>
</body>
</html>
