.noline{
text-decoration: none;
margin-left: 20px;
color: blue;
transition: all 1s;
margin-top: 20px;
float: left;
}
.noline:hover{
    color: red;
}
body{
    width: 100%;
    height: 4000px;
    background:-webkit-linear-gradient(left, hsl(120, 7%, 8%), rgba(26, 26, 2, 0),black) no-repeat;
}
#datetime{
color:wheat;
background-color: white;

}
*{
    margin:0;
    padding:0;
}